Package: me.thepapaya.newtermplusplus
Name: newtermplusplus
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Make NewTerm nice look!
Maintainer: ray
Author: ray
Section: Tweaks
Depiction: https://thepapaya.me/cydia/depictions/?p=me.thepapaya.newtermplusplus

